
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.site-navigation {
    display: flex;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
}

nav {
    display: flex;
}

.site-nav {
    display: flex;
}

.site-nav .item {
    margin-right: 40px;
}

.site-nav .item:last-child {
    margin-right: 0;
}

/*.site-nav .item:not(:last-child) {
    margin-right: 40px;
}
.site-nav .item + .item{
    margin-left: 40px; adds style to all but for the first
*/

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 40px;
}

.logo{ 
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 77px;
    color: var(--secondary-text-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
    text-transform: uppercase;
}

.logo span {
    color: var(--main-accent-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.site-nav a{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
}

.contacts a {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;;
}

.footer {
    background-color: var(--main-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer a{
    color: var(--secondary-bg-color);
    text-decoration: none;
}

.footer p{
    width: 264px;
    margin-bottom: 0;
    margin-top: 16px;
    color: var(--secondary-accent-color);
    font-size: 16px;
    line-height: 1.5;
}

.site-nav a:hover,
.site-nav a:focus{
    color: var(--main-accent-color);
}

.contacts a:hover,
.contacts a:focus{
    color: var(--main-accent-color);
}